{{!-- <div class="bg-white shadow overflow-hidden sm:rounded-md mb-2 ml-5">
  <ul role="list" class="divide-y divide-gray-200 ml-5">
    <li>
      <a href="/post/{{id}}" class="block hover:bg-gray-50"></a>
      <a class="block hover:bg-gray-50">
        <div class="px-4 py-4 sm:px-6">
          <div class="flex items-center justify-between">
            <p id="comment-{{post_id}}" "text-sm font-medium text-indigo-600 truncate">
              {{body}}
            </p>
          </div>
          <div><button id="edit-post">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </button>
            <button id="delete"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg></button>
          </div>
        </div>
        <div class="mt-2 sm:flex sm:justify-between">
          <div class="sm:flex">
            <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
              <!-- Heroicon name: solid/location-marker -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg>
              what is this
            </p>
          </div>
        </div>
</div>
</a>
</li>
</ul>
</div> --}}

<<<<<<< HEAD
<div class="bg-white shadow overflow-hidden sm:rounded-md mb-2 ml-5">
  <ul role="list" class="divide-y divide-gray-200 ml-5">
    <li>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center justify-between">
          <p style="text-sm font-medium text-indigo-600 truncate">
            {{body}}
          </p>
          <div><button data-id="{{id}}" id="edit-post">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </button>
            <button data-id="{{id}}" id="delete-post"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg></button>
          </div>
        </div>
        <div class="mt-2 sm:flex sm:justify-between">
          <div class="sm:flex">
            <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
              <!-- Heroicon name: solid/location-marker -->
              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fillRule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clipRule="evenodd" />
              </svg>
              <!-- Add Username here -->
            </p>
=======
        <div class="order-1 flex items-center sm:flex-col sm:items-start">
          <div class="ml-4 sm:ml-0 sm:mt-4">
            <p class="text-sm font-medium text-gray-900">{{title}}asdf</p>
>>>>>>> 6b24b4a876570cde8b94064b591a5e1fba30eaa4
          </div>
        </div>
    </li>
  </ul>
</div>